/**
 * Reset
 * @see https://andy-bell.co.uk/a-more-modern-css-reset/
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  /* text-decoration-skip-ink: auto; */
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/**
 * Website
 */
:root {
  --main-padding: 48px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 1.25rem
}

header, footer {
  padding: calc(var(--main-padding) / 2) var(--main-padding);
  color: #fcfcf8;
  background-color: #546e6f;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header > a {
  font-size: 2rem;
  line-height: 1.1;
  display: flex;
  align-items: stretch;
  gap: .5rem;
  text-decoration: none;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

nav a {
  color: currentColor;
  text-decoration-color: #f5a398;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;

  &.current {
    cursor: default;
    text-decoration-color: #c1decc;
  }

  &:hover:not([class="current"]) {
    text-decoration-color: #e96855;
  }
}


footer {
  display: flex;
  justify-content: center;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  max-width: min(calc(100vw - 2 * var(--main-padding)), 80ch);
  padding: var(--main-padding) 0;
}

main > * + * {
  margin-block-start: 1.25em;
}
